extends ../layout

block content
  h1= title
  a(href='..') <- Back
  div(class='overflow')
    table
      thead
        tr
          th
          th Splits
          th
      tbody
        each sarja, ind in taulukkoDatat
          tr(class=ind%2 == 0 ? "even" : "odd")
            td(class='sarja')
              - let sarjannimi = sarja['sarja'];
              //a(href=sarjannimi)= sarjannimi
              =sarjannimi
            each vapiste in sarja['vapisteet']
              - let pisteennumero = vapiste['nro'];
              - let pisteenmatka = vapiste['matka'];
              td
                if pisteennumero == 0
                  a(href=sarjannimi+'/'+pisteennumero)= 'Finish (' + pisteenmatka +')'
                else
                  a(href=sarjannimi+'/'+pisteennumero)= pisteenmatka
                //| &nbsp;&nbsp;&nbsp;
            td
              a(href=sarjannimi+'/start') Start times
